# ALTERAR antes de executar docker compose up -d --build
WEBHOST_ADMIN_PASSWORD=Coloca_aqui_uma_password_forte_e_unica
# Verificar caminho no ZimaOS (o host deve ter este caminho)
WEBHOST_DATA_DIR=/DATA/AppData/MrStore_webhost/data